.textover img {
    width: 100%;
}

.textover {
    position: relative;
}

/* REQUIRED */
.textover figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
}

.textover figcaption {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}